body{
	background: url("emoji.jpg");
    background-repeat: repeat;
	backgro
}

* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
    background-color: #999999;
}

.gifDiv{
    float: left;
    margin: 3px;
}

.container {
	background-color: #fff;
	padding: 20px;
}

.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}

